*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
/* Header Style {logo, menu, banner */
.header {
    /* width: 1920px; */
    height: 130vh;
    padding: 50px 150px 45px 150px;
    background: rgba(255, 144, 14, 0.1);
}
.logo{
    font-size: 45px;
    font-weight: 700px;
    color: #131313;
}
nav {
    display: flex;
    justify-content: space-between;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.menu > li {

    list-style: none;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}
.header > h1 {
    font-size: 50px;
    text-align: center;
    padding-top: 50px;
    font-weight: 900;
}
.header > p {
    font-size: 16px;
    text-align: center;
    padding-top: 15px;
}
#header-btn{
    text-align: center;
    padding: 15px 0;
}
.btn1 {
    color: white;
    font-weight: 600;
    justify-content: center;
    padding: 15px 20px;
    background: #FF900E;
    border: none;
    border-radius: 8px;
}
.banner-img {
    height: 700px;
    text-align: center;
    background-image: url(images/banner.png);
    background-position: top ;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 10px;
}

/* Section2 Styles */
.section2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 50px 200px 50px 200px;
}
.image-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    border-radius: 10px;
    
}
.section2-title{
    color: #727272;
    font-size: 30px;
    font-weight: 700;
}
#bold-text{
    color: #131313;
    font-weight: 900;
}
#colored-text{
    color: #FF900E;
    font-weight: 900;
}
.section2-description {
    padding: 15px 0;
    font-size: 16px;
}
    
 /*Responsive Styles  */
@media screen and (max-width:576px) {
    .header {
        height: 60vh;
        padding: 5px;
    }
    .logo{
        font-size: 20px;
        text-align: center;
        padding: 10px 0;
    }
    nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .header > h1 {
        font-size: 25px;
        padding-top: 20px;

    }
    .section2-title, .section2-description {
        text-align: center;
    }
    .section2 {
        flex-direction: column-reverse;
        gap: 15px;
        padding: 0 10px;
    }
    #section2-btn{
        text-align: center;
    }
    .image-box {
        grid-template-columns: repeat(1, 1fr);
    }
}