*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
/* Header Style {logo, menu, banner */
.header {
    /* width: 1920px; */
    height: 120vh;
    
    padding: 50px 240px 45px 240px;
    background: rgba(255, 144, 14, 0.1);
}
.logo{
    font-size: 45px;
    font-weight: 700px;
    color: #131313;
}
nav {
    display: flex;
    justify-content: space-between;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.menu > li {

    list-style: none;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}
.header > h1 {
    font-size: 50px;
    text-align: center;
    padding-top: 50px;
    font-weight: 900;
}
.header > p {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    padding-top: 15px;
}
#header-btn{
    text-align: center;
    padding: 15px 0;
}
.btn1 {
    justify-content: center;
    padding: 15px 20px;
    background: #FF900E;
    border: none;
    border-radius: 8px;
}
.banner-img {
    height: 700px;
    text-align: center;
    background-image: url(images/banner.png);
    background-position: top ;
    background-size: contain;
    background-repeat: no-repeat;
}
  
    